GEMINI_API_KEY = YOUR_KEY
GRIPPER_SPEED=100
ROBOT_IP="192.168.0.25"
ROBOT_AUTO_CONNECT=false
ROBOT_HOVER_HEIGHT_MM=100
ROBOT_PICK_HEIGHT_MM=2
ROBOT_PLACE_ABOVE_PICK_MM=2
ROBOT_HOME_X_MM=0
ROBOT_HOME_Y_MM=100
ROBOT_HOME_Z_MM=420
ROBOT_HOME_RX_DEG=30
ROBOT_HOME_RY_DEG=0
ROBOT_HOME_RZ_DEG=0
ROBOT_GRIPPER_YAW_OFFSET_DEG=-90
ROBOT_MOVEJ_SPEED=3
ROBOT_MOVEJ_ACCELERATION=2
ROBOT_MOVEL_SPEED=3
ROBOT_MOVEL_ACCELERATION=2
ROBOT_LIFT_SPEED=0.5
ROBOT_LIFT_ACCELERATION=0.5
ROBOT_JOINT_SPEED=0.5
ROBOT_JOINT_ACCELERATION=0.5
ROBOT_WORKSPACE_X_MIN_M=-1.5
ROBOT_WORKSPACE_X_MAX_M=1.5
ROBOT_WORKSPACE_Y_MIN_M=-1.5
ROBOT_WORKSPACE_Y_MAX_M=0.1
ROBOT_WORKSPACE_Z_MIN_M=-1.10
ROBOT_WORKSPACE_Z_MAX_M=1.55
